# tldraw commercial license key. Removes the "made with tldraw" watermark.
# Domain-locked; safe to ship in the client bundle. Vite inlines VITE_* vars
# at build time, so this must be set wherever `npm run build` runs.
# Copy this file to `.env` and paste your key, including the "tldraw-<date>/"
# prefix — that prefix is part of the key, not a folder name.
VITE_TLDRAW_LICENSE_KEY=
